html * {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    box-sizing: border-box;

}

a {
    text-decoration: none;
    color: white;
}

body {
    /*border: solid;*/
    font-size: 16px;
    font-family: 'Krub', sans-serif;
}

header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.864);
    position: fixed;
}

.cabecera {
    max-width: 1200px;
    margin: auto;


}

.header_nav {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.6rem;


}

.nav_titulo a {
    font-size: 1.9rem;
    padding: 0;
    margin: 0;

}

.nav_titulo a::before {
    font-size: 1.5rem;
    color: #3367d6;
    padding-right: 4px;
    content: '<';
}

.nav_titulo a::after {
    font-size: 1.5rem;
    color: #3367d6;
    padding-left: 4px;
    content: '/>';
}

.navegacion {
    /* border: solid;*/
    width: 500px;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;

}

.navegacion a {
    /*border: solid;*/
    padding: 5px;
}

.sobre_mi {
    font-size: 3rem;
}

h1 {
    font-size: 1.5rem;
    text-align: center;
    padding: 2rem 0;
    color: #3367d6;
}

.espacio {
    height: 60px;
}



.sobre_mi {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 800px;

}

figure {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 300px;
    height: 400px;
    border-radius: 3% 30%;

}

.sobremi_texto {
    text-align: justify;
    display: flex;
    align-items: center;
    box-shadow: -1px 2px 5px 7px rgba(10, 35, 82, 0.21);
    padding: 2rem;
    border-top: solid 5px #3367d6;
}


footer {
    position: absolute;
    bottom: 0;

    color: beige;
    font-size: 1.5rem;

    display: flex;
    width: 100%;
    justify-content: center;


}

footer p {
    background-color: rgba(0, 0, 0, 0.864);
    padding: 10px 50px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}